.toggleSelector {
	position: relative;
	padding: 5px;
	background-color: #DFDFDF;
	border-radius: 6px;
	display: flex;
	justify-content: space-around;
	gap: 7px;
	margin-top: 10px;
	pointer-events: none;
}

#backgroundSelector {
	transition: 0.2s all;
	position: absolute;
	width: 47%;
	height: 48px;
	background-color: white;
	border-radius: 3px;
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
	left: 1.5%;
	pointer-events: none;
}

#backgroundSelector.left {
	left: 1.5%;
}

#backgroundSelector.right {
	left: 51.5%;
}

.toggle {
	position: relative;
	width: 49%;
	height: 48px;
	padding: 10px;
	font-size: 18px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #4D4D4D;
	background-color: rgba(255, 0, 0, 0.0);
	pointer-events: all;
}